html {
		background-color: rgb(230, 230, 230);
}
table {
	border-collapse: collapse;
	width: 100%;
}
#input-text {
	width: 80%;
}
th,
td {
		padding: 8px;
		text-align: left;
		border-bottom: 1px solid #ddd;
}

#table-body tr:hover,
#table-body tr:focus,
.selected {
		background-color: #a0f0a0;
}
