{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% translate "Frequency" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>

    {% csrf_token %}

    <div>
      <label for="input-text">Enter text:</label>
      <input type="text" id="input-text">
      <input type="button" value="Submit" id="submit_textinput">
    </div>

    <div id="dropzone">
       <div style="margin:10px; width:300px; height:100px; border:1px dotted grey;">Drag and drop your file here</div>
       <span>OR</span>
       <button id="submit_binaryfile">Browse File</button>
       <input id="input_binaryfile" type="file" hidden>
    </div>

    <table>
      <thead>
        <tr>
          <th>Kanji</th>
          <th>Frequency</th>
        </tr>
      </thead>
      <tbody id="table-body">
      </tbody>
    </table>

    <script type="module" src="{% static 'js/index.js' %}"></script>

    <!-- load translation scripts -->
    <script src="{% url 'javascript-catalog' %}"></script>
</body>
</html>

